.text-white {
    color: #ffffff;
}
:root {
    --bs-blue: #375CB4;
}
.btn:disabled {
    cursor: not-allowed;
    opacity: unset;
    pointer-events: initial;
}
.mx-1 {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.image-topbar {
    height: 1.9rem;
    width: 9rem;
    margin: 0 auto;
    display: block;
}
.self-center {
    align-self: center;
}
.pull-right {
    float: right;
}
.ml-05 {
    margin-left: 0.5rem;
}
.ml-1 {
    margin-left: 1rem;
}
.w-full {
    width: 100%;
}
.separator {
    border-top: 1px solid #a7a7a7;
    margin-top: 0.3rem;
    margin-bottom: 0;
}
.text-muted {
    font-size: 0.8rem;
    color: #b7b7b7;
    font-weight: 400;
}
.text-right {
    text-align: right;
}
